/**
 * ==================================================================================
 * All color related mixins and stylesheet
 *
 * ==================================================================================
 */


:root {

	/**
	 * @General
	 * ============================================================
	 */

	--font-color: #333;
	--icon-color: #333;

	--field-color: #333;
	--field-placeholder-color: #ececec;

	--chatbox-bg: white;
	--chatgui-bg: white;

	--chat-msg-bg: #ecf0f1;
	--chat-self-bg: #45aaf2;
	--chat-system-bg: #f9f9f9;
}


/**
 * @Mixins
 * ============================================================
 */

//


/**
 * @Extend
 * ============================================================
 */

//


/**
 * @Styles
 * ============================================================
 */

//