:root {

	/**
	 * @General
	 * ============================================================
	 */

	--font-color: #fff;
	--icon-color: #fff;

	--bg-color: #2c3e50;
	--bg-h-color: #34495e;
	--bg-f-color: #577798;


	/**
	 * @Animations
	 * ============================================================
	 */

	--anim-timer: 0.3s;
	--anim-ease: ease;
	--anim-trans: var(--anim-timer) var(--anim-ease);
}


/**
 * @Mixins
 * ============================================================
 */

//


/**
 * @Extend
 * ============================================================
 */

//


/**
 * @Styles
 * ============================================================
 */

//